*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#board{
    width: 460px;
    height: 623px;
    background-color: #1A2A33;
}

.group{
    display: flex;

    width: 460px;
    height: 140px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 120px;

    border-radius: 15px;
    margin: 20px 20px 20px 0;

    background-color: #1F3641;
    box-shadow: 0px 9px 0px 0px #10212A;
    color: #FFF;
}
